[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false

[dev-packages]
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
PyInstaller = "*"
Sphinx = "*"
twine = "*"
twitter = "*"
leiserbik = {editable = true,path = "."}
docutils = "*"
ipdb = "*"

[packages]
loguru = "*"
arrow = "*"
pypeln = "*"
requests = {extras = ["socks"],version = "*"}
aiohttp = "*"
ratelimit = "*"
twitter = "*"
fake-useragent = "*"
bs4 = "*"
scalpl = "*"
python-slugify = "*"
leiserbik = {editable = true,path = "."}
click = "==6.7"
kafka-python = "*"
faust = {extras = ["rockdb"],version = "*"}
requests-html = "*"
numpy = "*"
