[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = false

[dev-packages]
wheel = "*"
watchdog = "*"
flake8 = "*"
tox = "*"
coverage = "*"
pytest = "*"
pytest-runner = "*"
PyInstaller = "*"
Sphinx = "*"
twine = "*"
twitter = "*"
leiserbik = {editable = true,path = "."}
docutils = "*"

[packages]
click = "*"
loguru = "*"
arrow = "*"
pypeln = "*"
requests = "*"
aiohttp = "*"
ratelimit = "*"
twitter = "*"
fake-useragent = "*"
bs4 = "*"
scalpl = "*"
